{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero-body hero-bground">
        <div class="columns cols-animation has-text-centered is-mobile is-justify-content-center">
            <div class="column col-animation">
                <div class="image-down">
                    <h3 class="notification scroll-down">
                        Check out our store
                        <a href="" title="Click to scroll to shop fitness equipments, sportswear and trainers">
                            <img src="" alt="click to scroll down to see fitness equipments, sportswear and trainers links">
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}