<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item ">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cardio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Strength and Cardio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cardio-link">
                <a href="{% url 'products' %}?category=d=dumbbells_weight" class="dropdown-item">Dumbbells &amp; Weight</a>
                <a href="{% url 'products' %}?category=bike" class="dropdown-item">Bike</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cardio-link">
                <a href="{% url 'products' %}?category=d=resistance_bands" class="dropdown-item">Resistance Bands</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=d=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=d=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=d=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=d=new_arrivals,clearance,deals" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>