<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipments-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipments-link">
                <a href="" class="dropdown-item">Dumbells</a>
                <a href="" class="dropdown-item">Resistance</a>
                <a href="" class="dropdown-item">Machine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="sportswears-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sportswears
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sportswears-link">
                <a href="" class="dropdown-item">Leggings</a>
                <a href="" class="dropdown-item">Shorts</a>
                <a href="" class="dropdown-item">Sets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="trainers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Trainers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="trainers-link">
                <a href="" class="dropdown-item">Men</a>
                <a href="" class="dropdown-item">Women</a>
                <a href="" class="dropdown-item">New</a>
            </div>
        </li>
    </ul>
</div>