{% extends "base.html" %}
{% load static %}

{% block extra_title %} Blog {% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container blog text-center">
    <h2 class="logo-font mb-4">Welcome {{ user.username }} to Our Blog</h2>
    <hr> <br>

    {% for post in posts %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title ">{{ post.title |capfirst }}</h5>
                    <hr>
                    <p>{{post.content}}</p>{{post.content}}
                    <hr>
                    <p>By <span>{{ post.author |capfirst }}, {{ post.created_on|timesince }}
                        ago </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
