{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="500 page on Stayfit site.">
<meta name="keywords"
    content="sport, exercise, sportswear, trainers, equipment, fitness, shopping, bag, 500">
<link rel="canonical" href="">
<meta property="og:title" name="title" content="Stayfit" />
<meta property="og:description"
    content="500 page on Stayfit site" />
<meta property="og:url" content="https://stayfit2022.herokuapp.com/" />
{% endblock %}

{% block extra_title %} 500 {% endblock %}

{% block content %}

<section>

    <div class="container text-center">
        <h1>500 SERVER ERROR!</h1>
        <h4 class="mt-3">Unexpected error occurred, please try again</h4>
        <p>Please contact site owner if the error persists</p>

        <div class="p-5 mb-4 rounded-3g bg-light bg-gradient">
              <a href="{% url 'home' %}" class="btn btn-dark btn-lg mt-5 mb-3">Take Me Back To Home</a>
          </div>
        
    </div>
</section>
{% endblock %}
