{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags  -->
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description"
                content="Buy fitness equipments and clothes for your fitness exercise">
            <meta name="keywords" content="wool, yarn, knitting, crochet, luxury brand, needles, patterns, blog, knit happens">
        {% endblock %}
        <!-- end meta tags  -->

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/3f6b0a0556.js" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}


        <title>Stay Fit {% block extra_title %} {% endblock %}</title>
    </head>

    <body>
        <section class="hero is-fullheight">
            <!-- navigation  -->
            <header class="hero-head">
                <nav class="navbar has-shadow" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{% url 'home' %}" title="Click to visit home page">
                            <h1 class="title-heading ml-2">Stay Fit</h1>
                        </a>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                            data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start ">
                            <!-- Search form desktop -->
                            <div class="column is-vcentered is-hidden-touch search-bar">
                                <form method="GET" action="#">
                                    <div class="field has-addons">
                                        <div class="control">
                                            <label for="search-desktop-view" hidden>Search bar</label>
                                            <input class="input search-input" type="text" name="q" id="search-desktop-view" placeholder="Find something">
                                        </div>
                                        <div class="control">
                                            <button class="button is-danger" type="submit" aria-label="submit search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End of search form  -->
                        </div>
                        <!-- Right side of navbar hidden on mobile  -->
                            {% if request.user.is_superuser %}
                            <a class="navbar-item menu m-3" href="#" title="Click here to visit the add a product page">
                                <figure>
                                    <img src="" alt="Click here to visit the add a product admin page" class="admin-icon">
                                    <figcaption>Add Product</figcaption>
                                </figure>
                            </a>
                            {% endif %}
                            {% if request.user.is_authenticated %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link m-3 " title="Profile/Logout Dropdown">
                                    <figure>
                                        <img src="#"
                                        alt="Dropdown menu here to visit the profile page or to log out" class="profile-icon">
                                        <figcaption>
                                            profile
                                        </figcaption>
                                    </figure>
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item menu" href="#" title="Profile page">
                                        Profile
                                    </a>
                                    <a class="navbar-item menu" href="#" title="Log out link">
                                        Log out
                                    </a>
                                </div>
                            </div>
                            {% else %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link m-3 menu" title="Register/Log dropdown">
                                    <figure>
                                        <img src="#"
                                        alt="Dropdown menu here to visit the log in page or to register" class="profile-icon">
                                        <figcaption>
                                            Profile
                                        </figcaption>
                                    </figure>
                                </a>
                                <div class="navbar-dropdown is-right">
                                    <a class="navbar-item is-hidden-touch menu" href="#" title="Login">
                                        Login
                                    </a>
                                    <a class="navbar-item is-hidden-touch menu" href="#" title="register">
                                        Register
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            <a class="navbar-item menu m-3" href="#" title="view shopping bag">
                                <figure>
                                    <i class="fa-solid fa-bag-shopping"><a class="navbar-item" href="#" title="Link to shopping bag"></a></i>
                                    <!--<img src="{{ MEDIA_URL }}bag.png" alt="icon for the shopping bag here" class="bag-icon">-->
                                   
                                    <figcaption>
                                        <p>{% if total %}
                                            £{{ total|floatformat:2 }}
                                            {% else %}
                                            £0.00
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
    
                            </a>
                        </div>
                        <!-- end of hidden mobile  -->
                        <!-- navbar end hidden desktop  -->
                        <div class="navbar-end is-hidden-desktop">
                            <!-- search bar mobile  -->
                            <div class="column is-vcentered">
                                <form method="GET" action="#">
                                    <div class="field has-addons">
                                        <div class="control">
                                            <label for="search-mobile-view" hidden>Search bar</label>
                                            <input class="input search-input" type="text" name="q" id="search-mobile-view" placeholder="Find something">
                                        </div>
                                        <div class="control">
                                            <button class="button is-danger" type="submit" aria-label="submit search">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- end of search bar mobile  -->
                            <!-- products filter mobile  -->
                            <div class="navbar-item has-dropdown is-hoverable mobile">
                                <a class="navbar-link nav-item">
                                    Products
                                </a>
                                <div class="navbar-dropdown">
                                    <a href="#" class="nav-item navbar-item">
                                        All Products
                                    </a>
                                    <a class="nav-item navbar-item"
                                        href="#">
                                        Equipments
                                    </a>
                                    <a class="nav-item navbar-item"
                                        href="#">
                                        Sportswear
                                    </a>
                                    <a class="nav-item navbar-item" href="#">
                                        Trainers
                                    </a>
                                </div>
                            </div>
                            <div class="navbar-mobile">
                                {% if request.user.is_superuser %}
                                <!-- Admin -->
                                <a class="navbar-item" href="#" title="Click here to visit the add a product admin page">
                                    <img src="#" alt="Click here to visit the add a product admin page" class="mobile-icon">
                                </a>
                                {% endif %}
                                {% if request.user.is_authenticated %}
                                <div class="navbar-item has-dropdown is-hoverable mobile">
                                    <a class="navbar-link" title="Dropdown here to visit the profile and log out page">
                                        <img src="#" alt="profile-icon">
                                    </a>
                                    <div class="navbar-dropdown is-right">
                                        <a class="navbar-item" href="#" title="Profile page link">
                                            Profile
                                        </a>
                                        <a class="navbar-item" href="#" title="Log out page">
                                            Log out
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="navbar-item has-dropdown is-hoverable mobile">
                                    <a class="navbar-link" title="Dropdown to log in or register for account">
                                        <img src="#" alt="profile-icon">
                                    </a>
                                    <div class="navbar-dropdown is-right">
                                        <a class="navbar-item" href="#">
                                            Login
                                        </a>
                                        <a class="navbar-item" href="#">
                                            Register
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                <i class="fa-solid fa-bag-shopping"><a class="navbar-item" href="#" title="Link to shopping bag"></a></i>
                                    <!--<img src="{{ MEDIA_URL }}bag.png" alt="bag-icon" class="mobile-icon">-->
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <!-- end of hidden on desktop  -->
                    </div>
                </nav>
            </header>
            {% block page_header %}
            {% endblock %}
    </body>
</html>