{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags  -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Buy fitness equipments and clothes for your fitness exercise">
    <meta name="keywords" content="wool, yarn, knitting, crochet, luxury brand, needles, patterns, blog, knit happens">
    {% endblock %}
    <!-- end meta tags  -->

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}


    <title>Stay Fit {% block extra_title %} {% endblock %}</title>
</head>